<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
    
</head>
<body style="text-align : center; background-color : rgb(79, 76, 113); color: white">
    <div style="border : 2px solid rgb(38, 45, 40); height: 50px; margin-bottom: 65px;" >
        <h5 style="padding: 8px;">Welcome to <span style="font-style : italic">{{room}}</span> chat</h5>
    </div>
    <div style="border : 3px solid rgb(176, 155, 196); padding: 15px;" id="display">
    
        <!-- <div class="container">
            <hr>
            <h4>User -> ADMIN</h4> 
            <p>Message -> Welcome to chat room. This is a dummy message</p>
            <hr>
        </div> -->
    </div>
    <script type="text/javascript">
        
        $(document).ready(function(){
            setInterval(function(){
                $.ajax({
                    type : 'GET',
                    url : '/getMessages/{{room}}/',
                    success : function(response){
                        // alert('success')
                        // console.log(response);
                        $('#display').empty();
                        for(var key in response['messages'])
                        {
                            // console.log(key[0]);
                            var temp =  '<div style="background-color: rgb(83, 47, 118); text-align: left;" class="container"><span>' + response.messages[key].user + '</span> ---> ' + response.messages[key].value + '<hr></div>'
                            $('#display').append(temp);
                        }
                    },
                    error : function(Response){
                        alert('something went wrong')
                    }
                })
            }, 1000);
        })
        
    </script>
    
    <!-- <script>
        $(document).ready(function(){
            // alert('ready')
            $.get("/getMessages/{{room_details.id}}/", function(data, status){
                alert('success')
            })
        })
    </script> -->

    <div style="padding-top: 20px;">
        <hr style="height: 3px;">
        <p>Type your message below</p>
    <form id="msg_form">
        {% csrf_token %}
        <input type="hidden" name="username" id="username" value="{{username}}"/>
        <!-- <input type="hidden" name="room_id" id="room_id" value="{{room_details.name}}"> -->
        <input type="hidden" name="room_id" id="room_id" value="{{room}}">
        <input class="form-control" type="text" id="message" name="message-input">
        <br>
        <button class="btn btn-outline-warning" type="submit" name="submit-btn">Submit</button>
    </form>    
    </div>
</body>
<script type="text/javascript">
    $(document).on('submit', '#msg_form', function(e){
        e.preventDefault();
        
        $.ajax({
            type:'POST',
            url:'/send/',
            data:{ 
                username:$('#username').val(),
                room:$('#room_id').val(),
                message:$('#message').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            success : function(data){
                // alert("success")
                console.log(data)
            }
        });
        document.getElementById('message').value=""
    });
</script>
</html>